<!DOCTYPE html>
<html lang="en" ng-app="issueTrackerApp">>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SuperMegaIssueTracker</title>
    <!-- bower:css -->
    <!-- bower installed css files will go here... -->
    <!-- endinject -->
    <!-- customCss:css -->
    <!-- built css files will go here... -->
    <!-- endinject -->
</head>
<body>

<header></header>

<article></article>
<section></section>
<div class="mywrapper" ng-controller="IssueTrackerCtrl as IssueCtrl" ng-cloak>

    <div class="container-fluid">
        <nav-menu></nav-menu>
        <div id="content" class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 main-content">
                <br>
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <span>Hi Guest! Check this out! After you can rate my application using the help tab.
                    </span>
                </div>
                <h1 class="title">AngularJS Issue Tracker</h1>
                <h4 class="text" ng-if="IssueCtrl.remainIssues">Remaining: <span>{{IssueCtrl.remainIssues}}</span> opened issues
                    from
                    <span>{{IssueCtrl.issueList.length}}</span></h4>

                <div class="table">
                    <table class="table table-hover table-condensed table-bordered zero-mrgbrd">
                        <thead>
                        <tr class="bg-warning">
                            <th class="table-first-col col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center pointer"
                                ng-click="IssueCtrl.changeSortOptions('id', !IssueCtrl.sortReverse)">
                                ID
                                <span ng-show="IssueCtrl.sortType == 'id' && !IssueCtrl.sortReverse"
                                      class="glyphicon glyphicon-sort-by-order"></span>
                                <span ng-show="IssueCtrl.sortType == 'id' && IssueCtrl.sortReverse"
                                      class="glyphicon glyphicon-sort-by-order-alt"></span>
                            </th>
                            <th class="col-lg-1 col-md-1 hidden-sm hidden-xs text-center pointer"
                                ng-click="IssueCtrl.changeSortOptions('status.name', !IssueCtrl.sortReverse)">
                                STATUS
                                <span ng-show="IssueCtrl.sortType == 'status.name' && !IssueCtrl.sortReverse"
                                      class="glyphicon glyphicon-sort-by-alphabet"></span>
                                <span ng-show="IssueCtrl.sortType == 'status.name' && IssueCtrl.sortReverse"
                                      class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                            </th>
                            <th class="col-lg-7 col-md-7 col-sm-3 col-xs-3 text-center pointer"
                                ng-click="IssueCtrl.changeSortOptions('summary', !IssueCtrl.sortReverse)">
                                ISSUE
                                    <span ng-show="IssueCtrl.sortType == 'summary' && !IssueCtrl.sortReverse"
                                          class="glyphicon glyphicon-sort-by-alphabet"></span>
                                    <span ng-show="IssueCtrl.sortType == 'summary' && IssueCtrl.sortReverse"
                                          class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                            </th>
                            <th class="col-lg-1 col-md-1 hidden-sm hidden-xs text-center pointer"
                                ng-click="IssueCtrl.changeSortOptions('priority.name', !IssueCtrl.sortReverse)">
                                PRIORITY
                                    <span ng-show="IssueCtrl.sortType == 'priority.name' && !IssueCtrl.sortReverse"
                                          class="glyphicon glyphicon-sort-by-alphabet"></span>
                                    <span ng-show="IssueCtrl.sortType == 'priority.name' && IssueCtrl.sortReverse"
                                          class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                            </th>
                            <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center pointer"
                                ng-click="IssueCtrl.changeSortOptions('lastupdated', !IssueCtrl.sortReverse)">
                                LAST UPDATED
                                    <span ng-show="IssueCtrl.sortType == 'lastupdated' && !IssueCtrl.sortReverse"
                                          class="glyphicon glyphicon-sort-by-order"></span>
                                    <span ng-show="IssueCtrl.sortType == 'lastupdated' && IssueCtrl.sortReverse"
                                          class="glyphicon glyphicon-sort-by-order-alt"></span>
                            </th>
                            <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center pointer"
                                ng-click="IssueCtrl.changeSortOptions('assignedto', !IssueCtrl.sortReverse)">
                                ASSIGNED TO
                                    <span ng-show="IssueCtrl.sortType == 'assignedto' && !IssueCtrl.sortReverse"
                                          class="glyphicon glyphicon-sort-by-alphabet"></span>
                                    <span ng-show="IssueCtrl.sortType == 'assignedto' && IssueCtrl.sortReverse"
                                          class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="{{IssueCtrl.setClass(issue.status)}}"
                            ng-repeat="issue in IssueCtrl.issueList | orderBy: IssueCtrl.sortType:IssueCtrl.sortReverse | filter: searchQuery">
                            <td class="text-center table-first-col col-lg-1 col-md-1 col-sm-1 col-xs-1"><span>{{issue.id}}</span>
                                <div class="btn-group dropup" uib-dropdown>
                                    <button type="button" class="btn btn-default btn-xs pull-right
                                " uib-dropdown-toggle>
                                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                    </button>
                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu"
                                        aria-labelledby="btn-append-to-single-button">
                                        <li role="menuitem"><a href="" ng-click="IssueCtrl.addIssue()">create</a></li>
                                        <li role="menuitem"><a href=""
                                                               ng-click="IssueCtrl.editIssue(issue, $index)">edit</a>
                                        <li role="menuitem"><a href=""
                                                               ng-click="IssueCtrl.deleteIssue($index)">delete</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td class="col-lg-1 col-md-1 hidden-sm hidden-xs">
                                <select class="form-control input-sm span"
                                        ng-model="issue.status"
                                        ng-change="IssueCtrl.getDialog(issue.status, $index)"
                                        ng-options="status.name for status in IssueCtrl.statuses track by status.name">
                                </select>
                            </td>
                            <td class="col-lg-7 col-md-7 col-sm-7 col-xs-7"><span>{{issue.summary}}</span>
                                <br>
                                <button type="button" ng-click="iscollapsed = !iscollapsed" class="bg-{{IssueCtrl.setClass(issue.status)}} btn btn-sm
                                dropdown-toggle" data-toggle="dropdown">
                                    <span ng-show="iscollapsed" class="glyphicon glyphicon-triangle-bottom"></span>
                                    <span ng-show="!iscollapsed" class="glyphicon glyphicon-triangle-top"></span>
                                    Comments <span class="badge">{{IssueCtrl.getCommentsCount(issue.id)}}</span>
                                </button>
                                <div uib-collapse="!iscollapsed" horizontal>
                                    <div>
                                        <hr>
                                        <label for="desc">Description:</label>
                                        <div id="desc">
                                            <span>{{issue.description}}</span>
                                        </div>
                                        <hr>
                                        <label for="comment">Comments:</label>
                                        <div id="comment" class="panel panel-default"
                                             ng-repeat="comment in IssueCtrl.comments | filter: {issueId: issue.id}">
                                            <span>{{comment.owner}}</span>
                                            added a comment (<span>{{comment.time}}</span>):
                                            <div class="panel panel-body zero-mrgbrd">
                                                <span>{{comment.content}}</span>
                                            </div>
                                            <button ng-hide="issue.status.id==3" type="button"
                                                    class="btn btn-danger btn-xs pull-right"
                                                    ng-click="IssueCtrl.deleteComment(comment.id)">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                        <button ng-hide="issue.status.id==3" type="button"
                                                class="btn btn-default btn-sm"
                                                ng-click="IssueCtrl.addComment(issue.id)">add new
                                        </button>
                                        <span ng-show="issue.status.id==3" class="glyphicon glyphicon-lock"></span>
                                    </div>
                                </div>
                            </td>
                            <td class="col-lg-1 col-md-1 hidden-sm hidden-xs">
                                <select class="form-control input-sm"
                                        ng-model="issue.priority"
                                        ng-change="IssueCtrl.getDialog(issue.priority, $index)"
                                        ng-options="priority.name for priority in IssueCtrl.priorities track by priority.name">
                                </select>
                            </td>
                            <td class="text-center col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <span>{{issue.lastupdated}}</span></td>
                            <td class="text-center col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <span>{{issue.assignedto}}</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="navbar navbar-inverse navbar-fixed-bottom navbar-my">
    <div class="foot">
        <h5>&copy; Lonkai 2016. All Rights Reserved.</h5>
    </div>
</footer>

<!-- bower:js -->
<!-- endinject -->

<!-- bundle:js -->
<!-- endinject -->

<!-- templates:js -->
<!-- endinject -->

</body>
</html>